@import '../node_modules/nib'

global-reset()

font-url(file)
	return '../fonts/' + file

webfont(family, file, hack-chrome-windows = false, weight = 'normal')
	@font-face
		font-family family
		src url(font-url(file + '.eot'))
		src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
			url(font-url(file + '.woff')) format('woff'), 
			url(font-url(file + '.ttf')) format('truetype'), 
			url(font-url(file + '.svg#'+ family)) format('svg')
		font-weight weight
		font-style normal
	if hack-chrome-windows
		@media screen and (-webkit-min-device-pixel-ratio:0)
			@font-face
				font-family family
				src url(font-url(file + '.svg#'+ family)) format('svg')

body
	background #ccc

.flashDiv
	background transparent

.rainCanvas
	width 100%
	height 100%
	position absolute

@keyframes flashAnim {
    0% { background: transparent; }
    55% { background: rgba(254, 255, 202, 0.27); }
    60% { background: transparent; }
    75% { background: rgba(254, 255, 202, 0.27); }
    80% { background: transparent; }
    95% { background: rgba(254, 255, 202, 0.27); }
    100% { background: transparent; }
}

@-moz-keyframes flashAnim {
    0% { background: transparent; }
    55% { background: rgba(254, 255, 202, 0.27); }
    60% { background: transparent; }
    75% { background: rgba(254, 255, 202, 0.27); }
    80% { background: transparent; }
    95% { background: rgba(254, 255, 202, 0.27); }
    100% { background: transparent; }
}

@-webkit-keyframes flashAnim {
      0% { background: transparent; }
    55% { background: rgba(254, 255, 202, 0.27); }
    60% { background: transparent; }
    75% { background: rgba(254, 255, 202, 0.27); }
    80% { background: transparent; }
    95% { background: rgba(254, 255, 202, 0.27); }
    100% { background: transparent; }
}

